.EndPage {
  width: 1250px;
  height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titleChinese {
  position: absolute;
  left: 450px;
  top: 266px;
  font-size: 44px;
}

.titleEnglish {
  font-size: 30px;
  position: absolute;
  left: 450px;
  top: 342px;
}

.artifact-container {
  background-color: #B69A77;
  position: absolute;
  left: -130px;
  top: 35px;
  width: 326px;
  height: 500px;
  border: 8px solid #1E1C1C;
  box-shadow: 0 0 60px rgba(255, 255, 255, 1);
}


.artifactTitleContainer {
  left: -120px;
  top: 570px;
  position: absolute;
  width: 326px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artifactTitle {
 font-size: 20px;
}

.sectionName {
  position: absolute;
  left: 700px;
  top: 150px;
  font-size: 60px;
  opacity: 20%;
  font-family: "Platform", sans-serif;
}

.artifactCover {
  width: 320px;
  height: 500px;
}

.more {
  position: absolute;
  left: 1170px;
  top: 22px;
  width:50px;
  height: 50px;
}

.next {
  position: absolute;
  left: 1030px;
  top: 500px;
  width:200px;
  height: 200px;
}